<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spittr.mapper.CommentMapper">
    <sql id="columns">
        id,username,spittle_id AS spittleId,commented_id AS commentedId,text,create_time AS createTime,enabled
    </sql>

    <resultMap id="commentResultMap" type="com.spittr.pojo.Comment">
        <id column="comment_id" property="id"/>
        <id column="comment_username" property="username"/>
        <id column="comment_commented_id" property="commentedId"/>
        <id column="comment_text" property="text"/>
        <id column="commented_spittle_id" property="spittleId"/>
        <id column="comment_create_time" property="createTime"/>
        <id column="comment_enabled" property="enabled"/>
        <!--暂不实现评论中带附件-->
        <!--<collection property="attachmentList" ofType="com.spittr.pojo.Attachment" resultMap=""/>-->
    </resultMap>

    <select id="selectBySpittleId" parameterType="long" resultType="com.spittr.pojo.Comment">
        SELECT
        <include refid="columns"></include>
        FROM comment
        WHERE spittle_id=#{spittleId}
    </select>
    <select id="selectCommentCountByCommentId" parameterType="long" resultType="int">
        SELECT count(id)
        FROM comment
        WHERE id=#{commentId}
    </select>
    <insert id="insertOne" parameterType="com.spittr.pojo.Comment">
        INSERT INTO comment(username,spittle_id,commented_id,text,enabled)
        VALUES(#{username},#{spittleId},#{commentedId},#{text},#{enabled})
    </insert>
    <insert id="deleteComment">
        DELETE FROM comment
        WHERE id=#{commentId} AND username=#{username}
    </insert>
    <select id="selectCount" parameterType="long">
        SELECT COUNT(id)
        FROM comment
        WHERE spittle_id=#{spittleId}
    </select>
    <select id="selectLatestOne" resultType="com.spittr.pojo.Comment">
        SELECT <include refid="columns"/>
        FROM comment
        WHERE username=#{username} AND spittle_id=#{spittleId}
        ORDER BY create_time DESC
        LIMIT 1
    </select>

</mapper>